.data_and_statistics-container
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.data_and_statistics-section
{
  width: 40%;
  min-width: 375px;
  margin-bottom: 50px;
}

.data_and_statistics-section h3
{
  text-transform: capitalize;
  text-align: center;
}

@media(max-width: 1260px)
{
  .data_and_statistics-section
  {
    width: 100%;
    max-width: 500px;
    margin-bottom: 50px;
  }
}

#data_and_statistics-modal_heading, #data_and_statistics-modal_table thead
{
  text-transform: capitalize;
}